<!-- createForm.html -->
{% block content %}

<div class="container form-card col-md-5">
    <h1 class="form-label">Create Account</h1>
    <br>

    <div class="justify-content-center">
        <form action="/create" method="POST", role="form">
            {{ form.csrf_token }}

            <!-- First Name -->
            <div class="form-field">
                {{ form.fname.label }}:
                {{ form.fname(class_="form-control") }}
                    {% if form.fname.errors %}
                        {% for error in form.fname.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <br>

            <!-- Last Name -->
            <div class="form-field">
                {{ form.lname.label }}:
                {{ form.lname(class_="form-control") }}
                    {% if form.lname.errors %}
                        {% for error in form.lname.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <br>

            <!-- Email -->
            <div class="form-field">
                {{ form.email.label }}:
                {{ form.email(class_="form-control") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <br>

            <!-- Username -->
            <div class="form-field">
                {{ form.uname.label }}:
                {{ form.uname(class_="form-control") }}
                    {% if form.uname.errors %}
                        {% for error in form.uname.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <br>

            <!-- Password -->
            <div class="form-field">
                {{ form.pword.label }}:
                {{ form.pword(class_="form-control") }}
                    {% if form.pword.errors %}
                        {% for error in form.pword.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <br>

            <!-- Password Confirm -->
            <div class="form-field">
                {{ form.pwordConfirm.label }}:
                {{ form.pwordConfirm(class_="form-control") }}
                    {% if form.pwordConfirm.errors %}
                        {% for error in form.pwordConfirm.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
            <br>

            <!-- Submit -->
            <div class="form-field">
                {{ form.submit(class_="btn btn-primary rounded-pill", style="float: right;")}}
            </div>
            <span>Already have an account?
                <br>
                <a href="/login">Log In!</a>
            </span>

        </form>
    </div>
</div>

{% endblock %}