<!-- index.html -->

{% extends 'base.html' %}

{% block content %}

<!-- navbar -->
{% include 'navbar.html' %}

<!-- body -->
<div class="bg-landing">
    <div class="h-100">
        <div class="row h-100 align-items-center">

            <!-- Left -->
            <div class="col text-center">
                <h1 class="text-landing">Cord-Cutters Rejoice!</h1>
                <br>
                <div class="container col-8">
                    <p class="text-landing">Sign in to find out if that blockbuster movie that you want to watch tonight is already available at your fingertips</p>
                </div>
            </div>
            <!---------->

            <!-- Right -->
            <div class="col form-text">
                {% include 'loginForm.html' %}
            </div>
            <!----------->

        </div>
    </div>
</div>

{% endblock %}
